Q.1. Answer

In [1]:
import pandas as pd

# Create a Pandas Series with the given data
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q.2.Answer

In [2]:
import pandas as pd

# Create a list with 10 elements
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Convert the list to a Pandas Series
my_series = pd.Series(my_list)

# Print the Series
print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Q.3.Answer

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q.4. Answer

A DataFrame in Pandas is a two-dimensional, size-mutable, and tabular data structure. It can be thought of as a spreadsheet or a SQL table where data is organized into rows and columns. Each column can have a different data type.

A Series, on the other hand, is a one-dimensional array-like object that can hold data of various types. It is essentially a single column of data in a DataFrame.

In [4]:
import pandas as pd

# Creating a Series
series = pd.Series([10, 20, 30, 40, 50], name='Numbers')

# Creating a DataFrame with a single column
df = pd.DataFrame({'Numbers': [10, 20, 30, 40, 50]})

# Print the Series and DataFrame
print("Series:")
print(series)
print("\nDataFrame:")
print(df)

Series:
0    10
1    20
2    30
3    40
4    50
Name: Numbers, dtype: int64

DataFrame:
   Numbers
0       10
1       20
2       30
3       40
4       50

Q.5. Answer

Common functions to manipulate data in a Pandas DataFrame include:

head() and tail(): To view the first or last n rows of the DataFrame.

describe(): To generate summary statistics of the data.

sort_values(): To sort the DataFrame by one or more columns.

groupby(): To group data based on a column and apply aggregation functions.

pivot_table(): To create pivot tables from the data.

drop(): To remove rows or columns from the DataFrame.

merge(): To combine DataFrames similar to SQL JOIN operations.

In [5]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Eva'],
    'Age': [25, 30, 27, 22, 28],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# Group data by 'Gender' and calculate the average age
grouped = df.groupby('Gender')['Age'].mean()

# Print the result
print(grouped)

Gender
Female    26.666667
Male      26.000000
Name: Age, dtype: float64

Q.6. Answer

In Pandas, both Series and DataFrame are mutable, meaning you can modify their contents. You can add, update, or delete data in both Series and DataFrames. Panel, on the other hand, has been removed from Pandas starting from version 0.25.0 and is not part of recent Pandas releases.

Q.7. ANswer

In [6]:
import pandas as pd

# Creating three Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using the Series
data = {'Name': names, 'Age': ages, 'Gender': genders}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female