Q.1.Answer

1. read_csv(): Used to read data from a CSV file into a DataFrame.
2. head(): Returns the first n rows of a DataFrame.
3. describe(): Generates summary statistics of the DataFrame.
4. groupby(): Groups data based on a specified column and applies aggregation functions.
5. pivot_table(): Creates a pivot table from the data.

Q.2. Answer

In [3]:
import pandas as pd

# Sample DataFrame
data = {'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]}
df = pd.DataFrame(data)

# Re-index the DataFrame starting from 1 and incrementing by 2
df.index = range(1, 2 * len(df) + 1, 2)

# Print the modified DataFrame
print(df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

Q.3. Answer

In [4]:
import pandas as pd

def sum_of_first_three_values(df):
    # Extract the 'Values' column and calculate the sum of the first three values
    values_column = df['Values']
    sum_of_first_three = values_column.head(3).sum()
    
    # Print the sum
    print("Sum of the first three values:", sum_of_first_three)

# Sample DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Call the function
sum_of_first_three_values(df)

Sum of the first three values: 60

Q.4. Answer

In [5]:
import pandas as pd

# Sample DataFrame
data = {'Text': ['Hello, world!', 'Python is awesome', 'Data analysis']}
df = pd.DataFrame(data)

# Function to count words in a string
def count_words(text):
    words = text.split()
    return len(words)

# Create the 'Word_Count' column
df['Word_Count'] = df['Text'].apply(count_words)

# Print the modified DataFrame
print(df)

                Text  Word_Count
0      Hello, world!           2
1  Python is awesome           3
2      Data analysis           2

Q.5. Answer

DataFrame.size: Returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and the number of columns.

DataFrame.shape: Returns a tuple representing the dimensions of the DataFrame, where the first element is the number of rows and the second element is the number of columns. It provides a clearer view of the DataFrame's structure.

Q.6.Answer

You can use the read_excel() function in pandas to read data from an Excel file.

Q.7. Answer

In [6]:
import pandas as pd

# Sample DataFrame with 'Email' column
data = {'Email': ['john.doe@example.com', 'jane.smith@example.com', 'alice@example.com']}
df = pd.DataFrame(data)

# Extract the 'Username' part from 'Email'
df['Username'] = df['Email'].str.split('@').str[0]

# Print the modified DataFrame
print(df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith
2       alice@example.com       alice

Q.8. Answer

In [7]:
import pandas as pd

# Sample DataFrame
data = {'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

# Select rows where 'A' is greater than 5 and 'B' is less than 10
selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]

# Print the selected rows
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q.9. Answer

In [8]:
import pandas as pd

# Sample DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Calculate mean, median, and standard deviation
mean_value = df['Values'].mean()
median_value = df['Values'].median()
std_value = df['Values'].std()

# Print the statistics
print("Mean:", mean_value)
print("Median:", median_value)
print("Standard Deviation:", std_value)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q.10. Answer

In [9]:
import pandas as pd

# Sample DataFrame with 'Date' and 'Sales' columns
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'],
        'Sales': [100, 150, 200, 250, 300]}
df = pd.DataFrame(data)

# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Calculate the moving average with a window of 7 days
df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

# Print the modified DataFrame
print(df)

        Date  Sales  MovingAverage
0 2023-01-01    100          100.0
1 2023-01-02    150          125.0
2 2023-01-03    200          150.0
3 2023-01-04    250          175.0
4 2023-01-05    300          200.0

Q.11. Answer

In [11]:
import pandas as pd

# Sample DataFrame with 'Date' column
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Extract weekday names
df['Weekday'] = df['Date'].dt.strftime('%A')

# Print the modified DataFrame
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q.12. Answer

In [12]:
import pandas as pd

# Sample DataFrame with 'Date' column
data = {'Date': ['2023-01-05', '2023-01-15', '2023-02-10', '2023-03-20', '2023-01-25']}
df = pd.DataFrame(data)

# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Define the date range
start_date = pd.to_datetime('2023-01-01')
end_date = pd.to_datetime('2023-01-31')

# Select rows within the date range
selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

# Print the selected rows
print(selected_rows)

        Date
0 2023-01-05
1 2023-01-15
4 2023-01-25

Q.13. Answer